<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>LIST BOX</h1>
      <span>Listbox is used to select one or more values from a list of items.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Single</h3>
          <p-listbox [options]="cities" [(ngModel)]="selectedCity"></p-listbox>

          <p>Selected City: {{selectedCity}}</p>
        </div>

        <div class="ui-g-12">
          <h3>Advanced (Multiple, Checkbox and Filter)</h3>
          <p-listbox [options]="cities" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
          <p>Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c}}</span></p>
        </div>

        <div class="ui-g-12">
          <h3>Content</h3>
          <p-listbox [options]="cars" [(ngModel)]="selectedCar" [style]="{'width':'190px','max-height':'250px'}">
              <ng-template let-car pTemplate="item">
                  <div class="ui-helper-clearfix">
                      <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48">
                      <span style="font-size:20px;float:right;margin:15px 10px 0 0">{{car.value}}</span>
                  </div>
              </ng-template>
          </p-listbox>
          <p>Selected Car: {{selectedCar}}</p>
        </div>

        <button type="button" (click)="selectedCar=null" pButton icon="fa-close" label="Clear Selected Car"></button>

      </div>
    </div>
  </div>
</div>
