<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
                  {{title|translate}}
                </span>
                <p-splitButton [style]="{'float':'right', 'width': 'auto'}" label="{{'navOptions'|translate}}" [model]="items"></p-splitButton>
                <!-- (onClick)="save()"  -->
            </div>
        </p-header>

        <div *ngIf="navType=='circle'" class="ui-g">
          <section *ngIf="navEffect!=='effect8'" [ngClass]="{'no-bg': !bgStatus, 'with-bg': bgStatus}" style="width: 100%">
            <div class="navItem ui-g-12" *ngFor="let item of navItems; let i=index" [ngClass]="{'ui-md-4': smallIcon, 'ui-lg-3': smallIcon, 'ui-md-6': !smallIcon, 'ui-lg-4': !smallIcon}">
                <div class="ih-item circle {{(i+1)%2==0? 'colored':''}} {{navEffect}} {{navAnimate[navDirection][(i+1)%navAnimateLength]}}">
                  <a href="/#/{{item.url}}">
                    <div class="spinner"></div>
                    <div class="img">
                      <img src="{{assetPath}}{{item.img}}" alt="img">
                    </div>
                    <div class="info">
                      <div class="info-back">
                        <h3>TCODE {{item.tcode}}</h3>
                        <p>{{item.title|translate}}</p>
                      </div>
                    </div>
                  </a>
                </div>
            </div>
          </section>

          <section *ngIf="navEffect=='effect8'" [ngClass]="{'no-bg': !bgStatus, 'with-bg': bgStatus}">
            <div class="navItem ui-g-12" *ngFor="let item of navItems; let i=index" [ngClass]="{'ui-md-4': smallIcon, 'ui-lg-3': smallIcon, 'ui-md-6': !smallIcon, 'ui-lg-4': !smallIcon}">
                <div class="ih-item circle {{(i+1)%2==0? 'colored':''}} {{navEffect}} {{navAnimate[navDirection][(i+1)%navAnimateLength]}}">

                  <div class="ih-item circle {{(i+1)%2==0? 'colored':''}} {{navEffect}} {{navAnimate[navDirection][(i+1)%navAnimateLength]}}">
                    <a href="/#/{{item.url}}">
                    <div class="img-container">
                      <div class="img">
                        <img src="{{assetPath}}{{item.img}}" alt="img">
                      </div>
                    </div>
                    <div class="info-container">
                      <div class="info">
                        <h3>TCODE {{item.tcode}}</h3>
                        <p>{{item.title|translate}}</p>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </section>
        </div>

        <div *ngIf="navType=='square'" class="ui-g">
          <section [ngClass]="{'no-bg': !bgStatus, 'with-bg': bgStatus}">
            <div class="navItem ui-g-12" *ngFor="let item of navItems; let i=index" [ngClass]="{'ui-md-4': smallIcon, 'ui-lg-3': smallIcon, 'ui-md-6': !smallIcon, 'ui-lg-4': !smallIcon}">
                <div class="ih-item square {{(i+1)%2==0? 'colored':''}} {{navEffect}} {{navAnimate[navDirection][(i+1)%navAnimateLength]}}">
                  <a href="/#/{{item.url}}">
                    <div class="spinner"></div>
                    <div class="img">
                      <img src="{{assetPath}}{{item.squareImg}}" alt="img">
                    </div>
                    <div class="info">
                      <div class="info-back">
                        <h3>TCODE {{item.tcode}}</h3>
                        <p>{{item.title|translate}}</p>
                      </div>
                    </div>
                  </a>
                </div>
            </div>
          </section>
        </div>


    </p-panel>
  </div>
</div>
