/* Portfolio Items */
#navBoard-round {
  overflow: hidden;
  position: relative;
  //border: 1px solid, rgba(255, 255, 255, 0.8);
  // color: rgba(255, 255, 255, 0.8);
  //background-color: #52d3aa;
  background-color: #fff;
  // IE9, iOS 3.2+
  //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  //background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  // Android 2.3
  //background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  // IE10+
  //background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  //background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

.portfolio {
    margin: 20px auto 10px;
    max-width: 900px;
}

.p-item {
    display: inline-block;
    margin: 30px 12px;
    position: relative;border: 5px solid #c0c0c0;

}

.p-item, .p-item img, .p-item a {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

}

.p-item img, .p-item a {
    width: 140px;
    height: 140px;
    display: block;
}

.p-info-wrap, .p-info {
    position: absolute;
    width: 140px;
    height: 140px;

}

.p-info-wrap {
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}

.p-info > div {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.p-info .p-info-back {
    opacity: 0;
    filter: alpha(opacity=0);
    background: rgba(0,0,0,.5); // url(../img/popup.png) no-repeat center;
    pointer-events: none;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.4s ease-in-out 0.0s;
    -moz-transition: all 0.4s ease-in-out 0.0s;
    -o-transition: all 0.4s ease-in-out 0.0s;
    -ms-transition: all 0.4s ease-in-out 0.0s;
    transition: all 0.4s ease-in-out 0.0s;
}


.p-info .p-info-back span{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 140px;
	color: white;
  font-weight: bold;
  text-align: center;
	//position: relative;
}

.p-item:hover .p-info-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=100);
    opacity: 1;
    pointer-events: auto;
}
