<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>RadarChart</h1>
      <span>A radar chart is a graphical method of displaying multivariate data in the form of a two-dimensional chart of three or more quantitative variables represented on axes starting from the same point.</span>

      <div class="ui-g form-group">

        <div class="ui-g-6">
          <p-chart type="radar" [data]="data"></p-chart>
        </div>

      </div>
    </div>
  </div>
</div>
