<p-growl [value]="msgs"></p-growl>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>FILE UPLOAD</h1>
      <span>FileUpload is an advanced uploader with dragdrop support, multi file uploads, auto uploading, progress tracking and validations.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Advanced</h3>
          <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                  multiple="multiple" accept="image/*" maxFileSize="1000000">
              <ng-template pTemplate type="content">
                  <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                  </ul>
              </ng-template>
          </p-fileUpload>

        </div>

        <div class="ui-g-12">
          <h3>Basic</h3>
          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
        </div>

        <div class="ui-g-12">
          <h3>Basic with Auto</h3>
          <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)" auto="true" chooseLabel="Browse"></p-fileUpload>
        </div>

      </div>
    </div>
  </div>
</div>
