<p-growl [(value)]="msgs"></p-growl>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Growl</h1>
      <span>Growl is used to display messages in an overlay.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
          <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
          <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
          <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
          <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
          <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
        </div>

      </div>
    </div>
  </div>
</div>
