<div class="ui-g-12 image-box">
  <div class="card">
    <img library="serenity-layout" src="{{image}}">

    <div class="image-box-content">
        <h3>{{header}}</h3>
        <span class="image-box-tag">{{icon}}</span>

        <ng-content></ng-content>

        <div class="image-box-footer">
            <button class="remove-btn orange-btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="ui-icon-close" label="Close" pbutton="" style="margin-right:4px;" title="Close" type="button"><span class="ui-button-icon-left ui-clickable fa fa-fw ui-icon-close"></span><span class="ui-button-text ui-clickable">Close</span></button>
            <button class="message-btn secondary-btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="ui-icon-add" label="New" pbutton="" title="New" type="button"><span class="ui-button-icon-left ui-clickable fa fa-fw ui-icon-add"></span><span class="ui-button-text ui-clickable">New</span></button>
        </div>
    </div>
  </div>
</div>
