<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>LIGHTBOX</h1>
      <span>LightBox is a modal overlay component to display images, videos, inline html content and iframes.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Basic</h3>
          <p-lightbox [images]="images"></p-lightbox>
        </div>

        <div class="ui-g-12">
          <h3>Content</h3>
          <p-lightbox type="content">
              <a class="group" href="#">
                  Watch Video
              </a>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>
          </p-lightbox>
        </div>

      </div>
    </div>
  </div>
</div>
