<p-growl [value]="msgs"></p-growl>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>LineChart</h1>
      <span>A line chart or line graph is a type of chart which displays information as a series of data points called 'markers' connected by straight line segments.</span>

      <div class="ui-g form-group">

        <div class="ui-g-6">
          <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
        </div>

      </div>
    </div>
  </div>
</div>
