<div class="content-section">
  <div class="content-section introduction">
    <div>
        <span class="feature-title">LineChart</span>
        <span>A line chart or line graph is a type of chart which displays information as a series of data points called 'markers' connected by straight line segments.</span>
    </div>
  </div>

  <div class="content-section implementation">

    <p-growl [value]="msgs"></p-growl>

    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>

  </div>
</div>
