<div class="ui-g dashboard">

  <div class="ui-g-12">
    <nav-board
      [title]="title"
      [navItems]="navItems">
    </nav-board>
  </div>

  <div class="ui-g-12 ui-lg-4">
    <gk-task-box
      [style]="'task-box-1'"
      [header]="'Client Meeting'"
      [text]="'Waiting brief from the client'"
      [status]="'WAITING'"
      [members]="members">
    </gk-task-box>
  </div>

  <div class="ui-g-12 ui-lg-4">
    <gk-task-box
      [style]="'task-box-2'"
      [header]="'Sale Reports'"
      [text]="'Annual reports per branch'"
      [status]="'IN PROGRESS'"
      [members]="members">
    </gk-task-box>
  </div>

  <div class="ui-g-12 ui-lg-4">
    <gk-task-box
      [style]="'task-box-3'"
      [header]="'Marketing Meeting'"
      [text]="'Marketing meeting to review sales.'"
      [status]="'ON HOLD'"
      [members]="members">
    </gk-task-box>
  </div>

  <div class="ui-g-12 ui-md-3">
    <gk-overview-box-header
      [style]="'overview-box-1'"
      [icon]="'inbox'"
      [title]="'Messages'"
      [figure]="'152'">
    </gk-overview-box-header>
  </div>

  <div class="ui-g-12 ui-md-3">
    <gk-overview-box-header
      [style]="'overview-box-2'"
      [icon]="'person_pin_circle'"
      [title]="'Check-Ins'"
      [figure]="'532'">
    </gk-overview-box-header>
  </div>

  <div class="ui-g-12 ui-md-3">
    <gk-overview-box-header
      [style]="'overview-box-3'"
      [icon]="'insert_drive_file'"
      [title]="'Files Sycned'"
      [figure]="'28'">
    </gk-overview-box-header>
  </div>

  <div class="ui-g-12 ui-md-3">
    <gk-overview-box-header
      [style]="'overview-box-4'"
      [icon]="'supervisor_account'"
      [title]="'Users Online'"
      [figure]="'256'">
    </gk-overview-box-header>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <gk-task-list
      [header]="'Tasks'"
      [menuItems]="items"
      [taskList]="taskList">
    </gk-task-list>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
    <gk-contact-form></gk-contact-form>
  </div>

  <div class="ui-g-12 ui-lg-4">
    <gk-message-list [messageList]="messageList">
    </gk-message-list>
  </div>

  <div class="ui-g-12 ui-lg-6 ui-g-nopad">
    <div class="ui-g-12 chat">
      <gk-chat [chatData]="chatData"></gk-chat>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-6 ui-g-nopad">
    <div class="ui-g-12 status-bars">
      <gk-status-bar [statusList]="statusList"></gk-status-bar>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-6 ui-g-nopad">
    <gk-change-dashboard
      [header] = "'Globale Sales by Region'"
      [lastUpdate] = "'21m'"
      [data]="globalSales">
    </gk-change-dashboard>
  </div>

  <div class="ui-g-12 ui-lg-6 ui-g-nopad">
    <gk-image-box
      [image]="'assets/images/dashboard/gradient-waters.png'"
      [header]="'Gradient Waters'"
      [icon]="'article'">
      <p>
        Derive inexpedient reason law virtues superiority victorious. Overcome pious horror suicide revaluation. Holiest ocean society disgust passion value love.
        Faithful mountains morality hope disgust merciful moral will revaluation society fearful love.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis,
        culpa ratione quam perferendis esse, cupiditate neque quas!
      </p>
      <p>
        In et blandit turpis, ut congue nibh. Nam vitae tincidunt nunc, sed accumsan lacus. Sed efficitur malesuada augue ut varius. Pellentesque ultricies leo massa, eu posuere diam sodales quis.
      </p>
    </gk-image-box>
  </div>

  <div class="ui-g-12 ui-lg-8">
    <div class="card">
      <p-dataTable [value]="cars" selectionmode="single">
          <p-header>Recent Sales</p-header>
          <p-column field="vin" header="Vin"></p-column>
          <p-column field="year" header="Year"></p-column>
          <p-column field="brand" header="Brand"></p-column>
          <p-column field="color" header="Color"></p-column>
      </p-dataTable>
  </div>

  <div class="ui-g-12 ui-lg-8">
      <p-growl *ngIf="alertType=='toast'" [value]="msgs"></p-growl>
      <p-messages *ngIf="alertType!=='toast'" [(value)]="msgs"></p-messages>
      <p-panel header="Sales Graph">
        <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
      </p-panel>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-4">
    <gk-user-card
      [bgImage]="'assets/images/dashboard/usercard.png'"
      [userAvatar]="'assets/images/avatar.png'"
      [userName]="'Wendy Lorina'"
      [data]="userData">
    </gk-user-card>
  </div>

  <div class="ui-g-12 ui-lg-6">
    <gk-map [header]="'Map'" [image]="'assets/images/dashboard/map.png'"></gk-map>
  </div>

  <!-- <div class="ui-g-12 map">
    <p-panel header="Map">
      <img library="serenity-layout" src="assets/images/dashboard/map.png">
    </p-panel>
  </div> -->

  <div class="ui-g-12 schedule">
    <p-panel header="Calendar">
      <p-schedule
          [events]="events"
          [header]="header"
          defaultDate="2017-02-01"
          [eventLimit]="4"
          [editable]="true"
          (onDayClick)="handleDayClick($event)"
          (onEventClick)="handleEventClick($event)">
      </p-schedule>

      <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
          [style]="{'overflow':'visible'}" [resizable]="false">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="vin">Title</label></div>
                  <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="start">Start</label></div>
                  <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="end">End</label></div>
                  <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
                  <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
              </div>
          </div>
          <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
                  <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
              </div>
          </p-footer>
      </p-dialog>
    </p-panel>
  </div>

</div>

<h3 class="first">Basic</h3>
<div class="ui-g">
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
  <div class="ui-g-1">1</div>
</div>

<div class="ui-g">
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
</div>

<div class="ui-g">
  <div class="ui-g-3">3</div>
  <div class="ui-g-3">3</div>
  <div class="ui-g-3">3</div>
  <div class="ui-g-3">3</div>
</div>

<div class="ui-g">
  <div class="ui-g-4">4</div>
  <div class="ui-g-4">4</div>
  <div class="ui-g-4">4</div>
</div>

<div class="ui-g">
  <div class="ui-g-6">6</div>
  <div class="ui-g-6">6</div>
</div>

<div class="ui-g">
  <div class="ui-g-12">12</div>
</div>

<div class="ui-g">
  <div class="ui-g-4">4</div>
  <div class="ui-g-8">8</div>
</div>

<div class="ui-g">
  <div class="ui-g-3">3</div>
  <div class="ui-g-9">9</div>
</div>

<div class="ui-g">
  <div class="ui-g-3">3</div>
  <div class="ui-g-5">5</div>
  <div class="ui-g-4">4</div>
</div>

<div class="ui-g">
  <div class="ui-g-4">4</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-2">2</div>
  <div class="ui-g-3">3</div>
  <div class="ui-g-1">1</div>
</div>

<h3>Responsive</h3>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
  <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
  <div class="ui-g-12 ui-lg-4">ui-g-12 ui-lg-4</div>
</div>
