<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>SPINNER</h1>
      <span>Spinner is an input component to provide a numerical input.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Basic</h3>
          <p-spinner size="30" [(ngModel)]="val1"></p-spinner>
        </div>

        <div class="ui-g-12">
          <h3>Min/Max</h3>
          <p-spinner size="30" [(ngModel)]="val2" [min]="0" [max]="100"></p-spinner>
        </div>

        <div class="ui-g-12">
          <h3>Step</h3>
          <p-spinner size="30" [(ngModel)]="val3" [step]="0.25"></p-spinner>
        </div>

        <div class="ui-g-12">
          <h3>Disabled</h3>
          <p-spinner size="30" [(ngModel)]="val4" [disabled]="true"></p-spinner>
        </div>

      </div>
    </div>
  </div>
</div>
