<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>CHIPS</h1>
      <span>Chips is used to enter multiple values on an inputfield.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Basic</h3>
          <p-chips [(ngModel)]="values1" ></p-chips>
        </div>

        <div class="ui-g-12">
          <h3>ng-template</h3>
          <p-chips [(ngModel)]="values2">
              <ng-template let-item pTemplate="item">
                  {{item}} - (active) <i class="fa fa-user" style="margin-right:2em"></i>
              </ng-template>
          </p-chips>
        </div>

      </div>
    </div>
  </div>
</div>
