$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;

$invalidInputLabelColor:#e62a10;
$invalidInputBorderColor:#e62a10;
$inputGroupAddonBgColor:#e6e6e6;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;

$dataTableBorderColor:#cacaca;
$dataTableRowBgColorEven:#f4f4f4;

@import "theme/theme";
