<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>RATING</h1>
      <span>Rating components is a star based selection input.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Basic {{val1}}</h3>
          <p-rating [(ngModel)]="val1"></p-rating>
        </div>

        <div class="ui-g-12">
          <h3>Callback {{val2}}</h3>
          <p-rating [(ngModel)]="val2" (onRate)="handleRate($event)" (onCancel)="handleCancel($event)"></p-rating> <span *ngIf="msg" style="margin-left:10px">{{msg}}</span>
        </div>

        <div class="ui-g-12">
          <h3>No Cancel {{val3}}</h3>
          <p-rating [(ngModel)]="val3" [cancel]="false"></p-rating>
        </div>

        <div class="ui-g-12">
          <h3>ReadOnly</h3>
          <p-rating [ngModel]="5" readonly="true" stars="10" [cancel]="false"></p-rating>
        </div>

        <div class="ui-g-12">
          <h3>Disabled</h3>
          <p-rating [ngModel]="val4" disabled="true" stars="10"></p-rating>
        </div>

      </div>
    </div>
  </div>
</div>
