<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>TOOLTIP</h1>
      <span>Tooltip provides advisory information for a component.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Positions</h3>
          <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-md-3">
                  <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">
              </div>
              <div class="ui-g-12 ui-md-3">
                  <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
              </div>
              <div class="ui-g-12 ui-md-3">
                  <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom">
              </div>
              <div class="ui-g-12 ui-md-3">
                  <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
              </div>
          </div>
        </div>

        <div class="ui-g-12">
          <h3>Focus and Blur</h3>
          <input type="text" pInputText pTooltip="Enter your username" placeholder="Right" tooltipEvent="focus" style="margin-left:.5em">
        </div>

      </div>
    </div>
  </div>
</div>
