<p-growl [(value)]="msgs"></p-growl>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Inplace</h1>
      <span>Inplace provides an easy to do editing and display at the same time where clicking the output displays the actual content.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Dynamic</h3>
          <p-progressBar [value]="value"></p-progressBar>
        </div>

        <div class="ui-g-12">
          <h3>Static</h3>
          <p-progressBar [value]="50"></p-progressBar>
        </div>

      </div>
    </div>
  </div>
</div>
