.email-app {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-x: hidden; }
  .email-app nav {
    flex: 0 0 200px;
    order: -1;
    padding: 15px;
    border-right: 1px solid #d1d4d7; }
    .email-app nav .btn-block {
      margin-bottom: 15px; }
    .email-app nav ul.nav {
      flex-direction: column; }
      .email-app nav ul.nav li.nav-item {
        margin: 0;
        position: relative; }
        .email-app nav ul.nav li.nav-item a.nav-link, .email-app nav ul.nav li.nav-item .navbar a.dropdown-toggle, .navbar .email-app nav ul.nav li.nav-item a.dropdown-toggle {
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          padding: 0 10px; }
          .email-app nav ul.nav li.nav-item a.nav-link i, .email-app nav ul.nav li.nav-item .navbar a.dropdown-toggle i, .navbar .email-app nav ul.nav li.nav-item a.dropdown-toggle i {
            width: 20px;
            text-align: center;
            margin: 0 10px 0 0;
            font-size: 14px; }
          .email-app nav ul.nav li.nav-item a.nav-link .tag, .email-app nav ul.nav li.nav-item .navbar a.dropdown-toggle .tag, .navbar .email-app nav ul.nav li.nav-item a.dropdown-toggle .tag {
            float: right;
            margin-top: 16px;
            margin-left: 10px; }
        .email-app nav ul.nav li.nav-item a.nav-link, .email-app nav ul.nav li.nav-item .navbar a.dropdown-toggle, .navbar .email-app nav ul.nav li.nav-item a.dropdown-toggle {
          line-height: 40px;
          color: #151b1e;
          border-bottom: 1px solid #d1d4d7; }
  .email-app main {
    flex: 1;
    padding: 15px; }
    .email-app main .toolbar {
      margin: -15px -15px 15px -15px;
      padding: 15px;
      border-bottom: 1px solid #d1d4d7; }
    .email-app main ul.messages-list {
      list-style: none;
      margin: 15px -15px 0 -15px;
      padding: 15px 15px 0 15px; }
      .email-app main ul.messages-list li {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 10px; }
        .email-app main ul.messages-list li a {
          color: black; }
          .email-app main ul.messages-list li a:hover {
            text-decoration: none; }
        .email-app main ul.messages-list li.unread .header, .email-app main ul.messages-list li.unread .title {
          font-weight: bold; }
        .email-app main ul.messages-list li:hover {
          border: 1px solid #d1d4d7;
          padding: 9px; }
          .email-app main ul.messages-list li:hover .action {
            color: #d1d4d7; }
        .email-app main ul.messages-list li .header {
          margin: 0 0 5px 0; }
          .email-app main ul.messages-list li .header .from {
            width: 49.9%;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis; }
          .email-app main ul.messages-list li .header .date {
            width: 50%;
            text-align: right;
            float: right; }
        .email-app main ul.messages-list li .title {
          margin: 0 0 5px 0;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis; }
        .email-app main ul.messages-list li .description {
          font-size: 12px;
          padding-left: 29px; }
        .email-app main ul.messages-list li .action {
          display: inline-block;
          width: 16px;
          text-align: center;
          margin-right: 10px;
          color: #d1d4d7; }
          .email-app main ul.messages-list li .action .fa-check-square-o {
            margin: 0 -1px 0 1px; }
          .email-app main ul.messages-list li .action .fa-square {
            float: left;
            margin-top: -16px;
            margin-left: 4px;
            font-size: 11px;
            color: white; }
          .email-app main ul.messages-list li .action .fa-star.bg {
            float: left;
            margin-top: -16px;
            margin-left: 3px;
            font-size: 12px;
            color: white; }
    .email-app main .message .message-title {
      margin-top: 30px;
      padding-top: 10px;
      font-weight: bold;
      font-size: 14px; }
    .email-app main .message .header {
      margin: 20px 0 30px 0;
      padding: 10px 0 10px 0;
      border-top: 1px solid #d1d4d7;
      border-bottom: 1px solid #d1d4d7; }
      .email-app main .message .header .avatar {
        height: 34px;
        width: 34px;
        float: left;
        margin-right: 10px; }
      .email-app main .message .header i {
        margin-top: 1px; }
      .email-app main .message .header .from {
        display: inline-block;
        width: 50%;
        font-size: 12px;
        margin-top: -2px;
        color: #d1d4d7; }
        .email-app main .message .header .from span {
          display: block;
          font-size: 14px;
          font-weight: bold; }
      .email-app main .message .header .date {
        display: inline-block;
        width: 29%;
        text-align: right;
        float: right;
        font-size: 12px;
        margin-top: 18px; }
    .email-app main .message .attachments {
      border-top: 3px solid #f8f9fa;
      border-bottom: 3px solid #f8f9fa;
      padding: 10px 0px;
      margin-bottom: 20px;
      font-size: 12px; }
      .email-app main .message .attachments ul {
        list-style: none;
        margin: 0 0 0 -40px; }
        .email-app main .message .attachments ul li {
          margin: 10px 0; }
          .email-app main .message .attachments ul li .tag {
            padding: 2px 4px; }
          .email-app main .message .attachments ul li span.quickMenu {
            float: right;
            text-align: right; }
            .email-app main .message .attachments ul li span.quickMenu .fa {
              padding: 5px 0 5px 25px;
              font-size: 14px;
              margin: -2px 0px 0px 5px;
              color: #d1d4d7; }

.page-header {
  padding: 1rem 0;
  background: #fff;
  border-bottom: 1px solid #d1d4d7; }
  .page-header h1 {
    margin: 0; }
  .page-header .chart-wrapper {
    max-width: 140px;
    margin: 0 auto;
    overflow: visible; }
  .page-header .charts .title {
    margin-top: 2px; }

body:not(.top-nav) .sidebar .sidebar-header {
  height: 200px;
  padding-bottom: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2); }
  body:not(.top-nav) .sidebar .sidebar-header .img-avatar {
    width: 80px;
    margin: 20px auto 10px;
    border-radius: 50em; }
  body:not(.top-nav) .sidebar .sidebar-header .text-muted {
    margin-top: -5px; }
  body:not(.top-nav) .sidebar .sidebar-header > .btn-group, body:not(.top-nav) .sidebar .sidebar-header > .fc-button-group {
    margin-top: 10px; }
  body:not(.top-nav) .sidebar .sidebar-header .btn-link {
    color: #55595c; }
    body:not(.top-nav) .sidebar .sidebar-header .btn-link:hover {
      color: #fff;
      text-decoration: none; }

body:not(.top-nav) .sidebar .sidebar-header + .sidebar-nav {
  height: calc(100vh - 55px - 200px) !important; }

@media (min-width: 576px) {
  body.sidebar-minimized .sidebar .sidebar-header {
    display: none; } }
