<p-growl [value]="msgs"></p-growl>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>CONFIRM DIALOG</h1>
      <span>Fieldset is a grouping component with a content toggle featureConfirmDialog is backed by a service utilizing Observables to display confirmation windows easily that can be shared by multiple actions on the same component.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <p-confirmDialog></p-confirmDialog>

          <div class="ui-g-6">
            <button type="button" (click)="confirm1()" pButton icon="fa-check" label="Confirm"></button>
          </div>
          <div class="ui-g-6">
            <button type="button" (click)="confirm2()" pButton icon="fa-trash" label="Delete"></button>
          </div>
                    
        </div>

      </div>
    </div>
  </div>
</div>
