a:hover .profile-image-wrapper {
  border-color: none !important;
  opacity: 50%;
}

.img-flag-round {
  display: inline-block;
  max-width:30px;
  max-height:19.6px;
  width: auto;
  height: auto;
}

.img-flag {
  display: inline-block;
  max-width:30px;
  max-height:19.6px;
  width: auto;
  height: auto;
}
