<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>MENU</h1>
      <span>Menu is a navigation/command component that supports dynamic and static positioning.</span>

      <div class="ui-g form-group">

        <div class="ui-g-4">
          <h3 class="first">Basic</h3>
          <p-menu [model]="items" appendTo="body"></p-menu>
        </div>

        <div class="ui-g-4">
          <h3>Popup</h3>
          <p-menu #menu popup="popup" [model]="items" appendTo="body"></p-menu>
          <button type="button" pButton icon="fa fa-list" label="Show" (click)="menu.toggle($event)"></button>
        </div>

      </div>
    </div>
  </div>
</div>
