<p-growl [value]="msgs"></p-growl>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>STEPS</h1>
      <span>Steps components is an indicator for the steps in a workflow. Layout of steps component is optimized for responsive design.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Basic</h3>
          <p-steps [model]="items"></p-steps>
        </div>

        <div class="ui-g-12">
          <h3>Clickable</h3>
          <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
        </div>

        <div class="ui-g-12">
          <h3>Custom Style</h3>
          <p-steps [model]="items" styleClass="steps-custom"></p-steps>
        </div>

      </div>
    </div>
  </div>
</div>
