.app-header.navbar .nav-item .nav-link .badge, .app-header.navbar .nav-item .dropdown-toggle .badge {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: -14px;
    margin-left: 0px;
}

.badge-pill {
    border-radius: 6rem;
}

.badge-danger {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 108, 107);
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
}

.badge {
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.4em;
}
