<p-growl *ngIf="alertType=='toast'" [value]="msgs"></p-growl>
<p-messages *ngIf="alertType=='alert'" [(value)]="msgs"></p-messages>

<p-menubar [model]="items"></p-menubar>

<div class="content-section implementation">

  <div class="ui-helper-clearfix" style="margin-bottom:20px">

  </div>

  <!--

  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="{{'filter'|translate}}">
  </div>
  <p-dataTable
    [value]="clients"
    [loading]="loading"
    loadingIcon="fa-spinner"

    [globalFilter]="gb" #dt
    selectionMode="single" [(selection)]="selectedClient" dataKey="_id"

    [responsive]="true"
    [resizableColumns]="true"
    [multiSortMeta]="multiSortMeta"

    [reorderableColumns]="true"
    [contextMenu]="cm"

    [paginator]="true"
    [rows]="15"
    [rowsPerPageOptions]="[10,20,30]"
    [(first)]="first"

    scrollHeight="200px"
    [style]="{'overflow':'visible'}">
      <p-header>
        <div class="ui-g" style="padding: 0px">
          <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:left">
            <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
          <div class="ui-g-12 ui-lg-4" style="text-align:right">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" class="ui-button-primary"></button>
          </div>
        </div>
      </p-header>
      <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width': col.width}" sortable="true"></p-column>
  </p-dataTable>
  <p-contextMenu #cm [model]="items"></p-contextMenu>
</div>

<div class="ui-helper-clearfix" style="margin-bottom: 55px"></div>
-->

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0;"></i>
    <input #gb type="text" pInputText size="50" placeholder="{{'filter'|translate}}" style="color: #ffffff;">
</div>
<p-dataTable
  [value]="clients"
  [loading]="loading"
  loadingIcon="fa-spinner"

  [globalFilter]="gb" #dt
  selectionMode="single" [(selection)]="selectedClient" dataKey="_id"

  [responsive]="true"
  [resizableColumns]="true"
  [multiSortMeta]="multiSortMeta"

  [reorderableColumns]="true"
  [contextMenu]="cm"

  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10,20,30]"
  [(first)]="first"

  [lazy]="true"
  (onLazyLoad) = "loadData($event)"
  [totalRecords]="totalRecords"

  scrollHeight="200px"
  [style]="{'overflow':'visible'}">
    <p-header>
      <div class="ui-g" style="padding: 0px">
        <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:left">
          <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
        <div class="ui-g-12 ui-lg-4" style="text-align:right">
          <button type="button" pButton icon="ui-icon-description" iconPos="left" label="CSV" (click)="dt.exportCSV()" class="ui-button-primary"></button>
        </div>
      </div>
    </p-header>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [style]="{'width': col.width}" sortable="true"></p-column>
</p-dataTable>
<p-contextMenu #cm [model]="items"></p-contextMenu>
</div>

<div class="ui-helper-clearfix" style="margin-bottom: 55px"></div>
