.layout-working {
  background-color: #F4F4F4;
  -webkit-box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
  min-height: 42px;
  padding-top: 5px;
}

.layout-working:before, .layout-working:after {
  content: "";
  display: table;
}

.layout-working:after {
  clear: both;
}

.layout-working .layout-working-lge {
  float: left;
  padding: 0px 20px 0 20px;
  height: 100%;
}

.layout-working .layout-working-year {
  float: right;
  padding: 0px 20px 0 0;
  height: 100%;
}
