<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>INPUT TEXT</h1>
      <span>InputText is an extension to standard input element with theming.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Basic</h3>
          <input id="input" type="text" size="30" pInputText [(ngModel)]="text">
          <span id="text">{{text}}</span>
        </div>

        <div class="ui-g-12">
          <h3>Disabled</h3>
          <input id="disabled-input" type="text" size="30" pInputText [disabled]="disabled" />

        </div>

        <button id="disabled-btn" type="button" (click)="toggleDisabled()" pButton label="Toggle"></button>


      </div>
    </div>
  </div>
</div>
