body .ui-button, body .ui-datepicker-buttonpane > button {
  overflow: hidden;
  background-color: #607D8B;
  color: #ffffff;
  font-size: 1em;
  height: 2.25em;
  padding: 0 1em;
  border: 0 none;
  -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

body .ui-button:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button:enabled:not(:focus):hover {
  background-color: #455A64;
}

body .ui-button:focus, body .ui-datepicker-buttonpane > button:focus {
  outline: 0 none;
  background-color: #7b96a3;
}

body .ui-button .ui-button-text, body .ui-datepicker-buttonpane > button .ui-button-text {
  padding: 0;
  line-height: 2.25em;
}

body .ui-button .fa, body .ui-datepicker-buttonpane > button .fa {
  color: #ffffff;
}

body .ui-button.ui-button-icon-only, body .ui-datepicker-buttonpane > button.ui-button-icon-only {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

body .ui-button.ui-button-icon-only .fa, body .ui-datepicker-buttonpane > button.ui-button-icon-only .fa {
  margin-left: -.5em;
}

body .ui-button.ui-button-text-icon-left, body .ui-datepicker-buttonpane > button.ui-button-text-icon-left {
  padding-left: 2.5em;
}

body .ui-button.ui-button-text-icon-right, body .ui-datepicker-buttonpane > button.ui-button-text-icon-right {
  padding-right: 2.5em;
}

body .ui-button.secondary-btn, body .ui-datepicker-buttonpane > button.secondary-btn {
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-button.secondary-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.secondary-btn:enabled:not(:focus):hover {
  background-color: #9CCC65;
}

body .ui-button.secondary-btn:focus, body .ui-datepicker-buttonpane > button.secondary-btn:focus {
  outline: 0 none;
  background-color: #95c563;
}

body .ui-button.blue-grey-btn, body .ui-datepicker-buttonpane > button.blue-grey-btn {
  background-color: #607D8B;
}

body .ui-button.blue-grey-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.blue-grey-btn:enabled:not(:focus):hover {
  background-color: #37474F;
}

body .ui-button.blue-grey-btn:focus, body .ui-datepicker-buttonpane > button.blue-grey-btn:focus {
  outline: 0 none;
  background-color: #7b96a3;
}

body .ui-button.cyan-btn, body .ui-datepicker-buttonpane > button.cyan-btn {
  background-color: #00BCD4;
}

body .ui-button.cyan-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.cyan-btn:enabled:not(:focus):hover {
  background-color: #00838F;
}

body .ui-button.cyan-btn:focus, body .ui-datepicker-buttonpane > button.cyan-btn:focus {
  outline: 0 none;
  background-color: #08e3ff;
}

body .ui-button.teal-btn, body .ui-datepicker-buttonpane > button.teal-btn {
  background-color: #009688;
}

body .ui-button.teal-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.teal-btn:enabled:not(:focus):hover {
  background-color: #00695C;
}

body .ui-button.teal-btn:focus, body .ui-datepicker-buttonpane > button.teal-btn:focus {
  outline: 0 none;
  background-color: #00c9b6;
}

body .ui-button.red-btn, body .ui-datepicker-buttonpane > button.red-btn {
  background-color: #F44336;
}

body .ui-button.red-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.red-btn:enabled:not(:focus):hover {
  background-color: #C62828;
}

body .ui-button.red-btn:focus, body .ui-datepicker-buttonpane > button.red-btn:focus {
  outline: 0 none;
  background-color: #f77066;
}

body .ui-button.green-btn, body .ui-datepicker-buttonpane > button.green-btn {
  background-color: #4CAF50;
}

body .ui-button.green-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.green-btn:enabled:not(:focus):hover {
  background-color: #2E7D32;
}

body .ui-button.green-btn:focus, body .ui-datepicker-buttonpane > button.green-btn:focus {
  outline: 0 none;
  background-color: #6ec071;
}

body .ui-button.deep-orange-btn, body .ui-datepicker-buttonpane > button.deep-orange-btn {
  background-color: #FF5722;
}

body .ui-button.deep-orange-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.deep-orange-btn:enabled:not(:focus):hover {
  background-color: #D84315;
}

body .ui-button.deep-orange-btn:focus, body .ui-datepicker-buttonpane > button.deep-orange-btn:focus {
  outline: 0 none;
  background-color: #ff7e55;
}

body .ui-button.purple-btn, body .ui-datepicker-buttonpane > button.purple-btn {
  background-color: #673AB7;
}

body .ui-button.purple-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.purple-btn:enabled:not(:focus):hover {
  background-color: #4527A0;
}

body .ui-button.purple-btn:focus, body .ui-datepicker-buttonpane > button.purple-btn:focus {
  outline: 0 none;
  background-color: #8259cb;
}

body .ui-button.pink-btn, body .ui-datepicker-buttonpane > button.pink-btn {
  background-color: #E91E63;
}

body .ui-button.pink-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.pink-btn:enabled:not(:focus):hover {
  background-color: #AD1457;
}

body .ui-button.pink-btn:focus, body .ui-datepicker-buttonpane > button.pink-btn:focus {
  outline: 0 none;
  background-color: #ee4c83;
}

body .ui-button.amber-btn, body .ui-datepicker-buttonpane > button.amber-btn {
  background-color: #FFC107;
  color: #212121;
}

body .ui-button.amber-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.amber-btn:enabled:not(:focus):hover {
  background-color: #FF8F00;
}

body .ui-button.amber-btn:focus, body .ui-datepicker-buttonpane > button.amber-btn:focus {
  outline: 0 none;
  background-color: #ffce3a;
}

body .ui-button.orange-btn, body .ui-datepicker-buttonpane > button.orange-btn {
  background-color: #FF9800;
}

body .ui-button.orange-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.orange-btn:enabled:not(:focus):hover {
  background-color: #EF6C00;
}

body .ui-button.orange-btn:focus, body .ui-datepicker-buttonpane > button.orange-btn:focus {
  outline: 0 none;
  background-color: #ffad33;
}

body .ui-button.brown-btn, body .ui-datepicker-buttonpane > button.brown-btn {
  background-color: #795548;
}

body .ui-button.brown-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.brown-btn:enabled:not(:focus):hover {
  background-color: #4E342E;
}

body .ui-button.brown-btn:focus, body .ui-datepicker-buttonpane > button.brown-btn:focus {
  outline: 0 none;
  background-color: #996b5b;
}

body .ui-button.indigo-btn, body .ui-datepicker-buttonpane > button.indigo-btn {
  background-color: #3F51B5;
}

body .ui-button.indigo-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.indigo-btn:enabled:not(:focus):hover {
  background-color: #283593;
}

body .ui-button.indigo-btn:focus, body .ui-datepicker-buttonpane > button.indigo-btn:focus {
  outline: 0 none;
  background-color: #606fc7;
}

body .ui-button.flat, body .ui-datepicker-buttonpane > button.flat {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

body .ui-buttonset .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: #455A64;
}

body .ui-buttonset .ui-button.ui-state-active {
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-togglebutton:not(.ui-state-active):not(.ui-state-disabled):hover {
  background-color: #455A64;
}

body .ui-togglebutton.ui-state-active {
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-splitbutton {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

body .ui-splitbutton > .ui-button {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  vertical-align: top;
}

body .ui-splitbutton > .ui-button:active {
  background-color: #7b96a3;
}

body .ui-splitbutton .ui-splitbutton-menubutton {
  height: 2.25em;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

body .ui-fluid .ui-splitbutton .ui-button:first-child {
  width: calc(100% - 2em);
}