body .ui-carousel {
  padding: 0;
}

body .ui-carousel .ui-carousel-header {
  padding: 0.625em 1em;
  font-size: 1em;
  overflow: visible;
}

body .ui-carousel .ui-carousel-header .ui-carousel-header-title {
  overflow: visible;
}

body .ui-carousel .ui-carousel-header .fa {
  color: #ffffff;
}

body .ui-carousel .ui-carousel-header .ui-carousel-button {
  margin: -.143em 0 0 0;
}

body .ui-carousel .ui-carousel-header .ui-carousel-page-links {
  margin: -.143em 0 0 0;
}