body .ui-datepicker {
  padding: 0;
  width: 17.5em;
}

body .ui-datepicker.ui-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .ui-datepicker .ui-datepicker-header {
  padding: 0.625em 1em;
  font-size: 1em;
  background: #455A64;
  border-color: #455A64;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  cursor: pointer;
  top: .4em;
  left: .2em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
        /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
        /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
        /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
  font-feature-settings: 'liga';
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #ffffff;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
  content: "keyboard_arrow_left";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .fa {
  display: none;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
  background-color: #90A4AE;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  cursor: pointer;
  top: .4em;
  right: .2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
        /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
        /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
        /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
  font-feature-settings: 'liga';
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #ffffff;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
  content: "keyboard_arrow_right";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next .fa {
  display: none;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  background-color: #90A4AE;
}

body .ui-datepicker .ui-datepicker-header select.ui-datepicker-month,
      body .ui-datepicker .ui-datepicker-header select.ui-datepicker-year {
  font-size: 12px;
}

body .ui-datepicker table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
}

body .ui-datepicker thead tr {
  color: #ffffff;
  background: #607D8B;
}

body .ui-datepicker tbody td {
  padding: .25em .125em;
  box-sizing: border-box;
}

body .ui-datepicker tbody td.ui-datepicker-today a {
  color: #ffffff;
  background: #99aeb8;
}

body .ui-datepicker tbody td.ui-datepicker-today a.ui-state-active {
  color: #ffffff;
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-datepicker tbody td a {
  padding: .25em;
  margin: 0;
  text-align: center;
  color: #212121;
  display: inline-block;
  height: 2.250em;
  width: 2.250em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.8em;
}

body .ui-datepicker tbody td a.ui-state-active {
  color: #ffffff;
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-datepicker tbody td a:not(.ui-state-active):not(.ui-state-highlight):hover {
  background-color: #e8e8e8;
  color: #000000;
}

body .ui-datepicker tbody td a span {
  display: inline;
  padding: 0;
  text-align: center;
}

body .ui-datepicker .ui-timepicker {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

body .ui-datepicker .ui-timepicker > div a {
  height: 1.5em;
}

body .ui-datepicker .ui-timepicker > div a > span {
  display: inline-block;
  margin-bottom: .25em;
}

body .ui-datepicker .ui-timepicker > div a .fa.fa-angle-up {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
          /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
          /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
          /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
          /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
          /* Support for IE. */
  font-feature-settings: 'liga';
}

body .ui-datepicker .ui-timepicker > div a .fa.fa-angle-up:before {
  content: "keyboard_arrow_up";
}

body .ui-datepicker .ui-timepicker > div a .fa.fa-angle-down {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
          /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
          /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
          /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
          /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
          /* Support for IE. */
  font-feature-settings: 'liga';
}

body .ui-datepicker .ui-timepicker > div a .fa.fa-angle-down:before {
  content: "keyboard_arrow_down";
}

body #ui-datepicker-div {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}