.fa-sort:before {
  content: "sort";
}

.fa-sort-asc:before {
  content: "keyboard_arrow_up";
}

.fa-sort-desc:before {
  content: "keyboard_arrow_down";
}

.fa-angle-up {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fa-angle-up:before {
  content: "play_arrow";
}

.fa-angle-double-up {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fa-angle-double-up:before {
  content: "skip_next";
}

.fa-angle-down {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-angle-down:before {
  content: "play_arrow";
}

.fa-angle-double-down {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fa-angle-double-down:before {
  content: "skip_previous";
}

.fa-angle-right:before {
  content: "play_arrow";
}

.fa-angle-double-right:before {
  content: "fast_forward";
}

.fa-angle-left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-angle-left:before {
  content: "play_arrow";
}

.fa-angle-double-left:before {
  content: "fast_rewind";
}

.fa-check:before {
  content: "check";
}

.fa-caret-up:before {
  content: "keyboard_arrow_up";
}

.fa-caret-down:before {
  content: "keyboard_arrow_down";
}

.fa-caret-right:before {
  content: "keyboard_arrow_right";
}

.fa-caret-left:before {
  content: "keyboard_arrow_left";
}

.fa-search:before {
  content: "search";
}

.fa-close:before {
  content: "close";
}

.fa-minus:before {
  content: "remove";
}

.fa-plus:before {
  content: "add";
}

.fa-check:before {
  content: "check";
}

.fa-info-circle:before {
  content: "info";
}

.fa-upload:before {
  content: "file_upload";
}

.fa-chevron-circle-left:before {
  content: "keyboard_arrow_left";
}

.fa-chevron-circle-right:before {
  content: "keyboard_arrow_right";
}

.fa-chevron-circle-down:before {
  content: "keyboard_arrow_down";
}

.fa-chevron-circle-up:before {
  content: "keyboard_arrow_up";
}

.fa-home:before {
  content: "home";
}

.fa-chevron-right:before {
  content: "chevron_right";
}

.fa-chevron-left:before {
  content: "chevron_left";
}

.fa-circle-o:before {
  content: "radio_button_unchecked";
}

.fa-dot-circle-o:before {
  content: "radio_button_checked";
}

.fa-arrow-circle-right:before {
  content: "play_circle_outline";
}

.fa-arrow-circle-left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-arrow-circle-left:before {
  content: "play_circle_outline";
}

.fa-calendar:before {
  content: "date_range";
}

.fa-arrow-down:before {
  content: "arrow_downward";
}

.fa-arrow-up:before {
  content: "arrow_upward";
}
