body .ui-orderlist .ui-orderlist-caption {
  font-size: 1em;
  padding: 0.625em 1em;
  box-sizing: border-box;
}

body .ui-orderlist .ui-orderlist-list {
  padding: 0;
  box-sizing: border-box;
}

body .ui-orderlist .ui-orderlist-list li.ui-orderlist-item {
  font-size: 1em;
  padding: 0.625em 1em;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #212121;
}

body .ui-orderlist .ui-orderlist-list li.ui-orderlist-item:not(.ui-state-highlight):hover {
  background-color: #e8e8e8;
  color: #000000;
}

body .ui-orderlist .ui-orderlist-list li.ui-orderlist-item.ui-state-highlight {
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-orderlist.ui-orderlist-responsive .ui-orderlist-controls {
  width: 3.75em;
}

body .ui-orderlist .ui-orderlist-controls {
  width: 3.75em;
  text-align: center;
}

body .ui-orderlist .ui-orderlist-controls .ui-button.ui-button-icon-only {
  width: 2.5em;
  margin-bottom: .5em;
  margin-right: 0;
}