body .ui-picklist .ui-picklist-caption {
  font-size: 1em;
  padding: 0.625em 1em;
}

body .ui-picklist .ui-picklist-list {
  padding: 0;
}

body .ui-picklist li.ui-picklist-item {
  font-size: 1em;
  padding: 0.625em 1em;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #212121;
}

body .ui-picklist li.ui-picklist-item:not(.ui-state-highlight):hover {
  background-color: #e8e8e8;
  color: #000000;
}

body .ui-picklist li.ui-picklist-item.ui-state-highlight {
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-picklist .ui-picklist-buttons {
  width: 3em;
}

body .ui-picklist .ui-picklist-buttons .ui-button.ui-button-icon-only {
  width: 2.5em;
  margin-right: 0;
  display: inline-block;
  margin-bottom: .5em;
}

body .ui-picklist .ui-picklist-buttons-cell {
  text-align: center;
}

body .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .ui-button.ui-button-icon-only {
  margin: 0 auto;
  display: block;
  margin-bottom: .5em;
}

body .ui-picklist.ui-picklist-responsive .ui-picklist-list .ui-picklist-item .ui-chkbox {
  margin-right: .5em;
  vertical-align: top;
}

body .ui-picklist.ui-picklist-responsive .ui-picklist-list .ui-picklist-item .ui-chkbox, body .ui-picklist.ui-picklist-responsive .ui-picklist-list .ui-picklist-item .ui-chkbox * {
  box-sizing: content-box;
}