body .ui-steps {
  position: relative;
}

body .ui-steps .ui-steps-item {
  background-color: transparent;
}

body .ui-steps .ui-steps-item.ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}

body .ui-steps .ui-steps-item .ui-menuitem-link {
  display: inline-block;
  text-align: left;
  background-color: #ffffff;
  overflow: hidden;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
  display: inline-block;
  background-color: #757575;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 1em;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  width: 2em;
  height: 2em;
  padding: 0;
  line-height: 2em;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
  display: inline;
  margin-left: .625em;
  color: #757575;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
  background-color: #7CB342;
  color: #ffffff;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title {
  font-weight: 700;
  color: #212121;
}

body .ui-steps .ui-steps-item:last-child .ui-menuitem-link {
  display: block;
}

body .ui-steps:before {
  content: ' ';
  border: 1px solid #dbdbdb;
  width: 90%;
  top: 45%;
  left: 0;
  display: block;
  position: absolute;
}