<app-header></app-header>
<div class="app-body">

  <app-sidebar>
    <li class="divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/main']"><i class="icon-pin"></i> {{'backToMain'|translate}}</a>
    </li>
    <!-- MY TRAYS -->
    <li class="divider"></li>
    <li class="nav-title">
      {{'myBoxes'|translate}}
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine11']"><i class="fa fa-square-o"></i> {{'inbox'|translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine12']"><i class="fa fa-check-square-o"></i> {{'outbox'|translate}}</a>
    </li>

    <li class="divider"></li>
    <li class="nav-title">
      {{'myDocuments'|translate}}
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine21']"><i class="fa fa-file-o"></i> {{'draft'|translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine22']"><i class="fa fa-spinner"></i> {{'inProgress'|translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine23']"><i class="fa fa-star-half-o"></i> {{'documenting'|translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine24']"><i class="fa fa-star-o"></i> {{'completed'|translate}}</a>
    </li>
    <!-- ./MY TRAYS -->

    <li class="divider"></li>
    <li class="nav-title">
    </li>

  </app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <app-breadcrumbs></app-breadcrumbs>

    <div class="container-fluid"  style="font-size: 0.75em;">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->

  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>
