<app-header></app-header>
<div class="app-body">

  <app-sidebar>
    <!-- MY TRAYS -->
    <li class="divider"></li>
    <li class="nav-title">
      MY APPROVAL
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine101']"><i class="fa fa-square-o"></i> Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine102']"><i class="fa fa-check-square-o"></i> Outbox</a>
    </li>

    <li class="divider"></li>
    <li class="nav-title">
      MY TICKETS
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine201']"><i class="fa fa-file-o"></i> Draft</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine202']"><i class="fa fa-spinner"></i> In progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine203']"><i class="fa fa-star-half-o"></i> Documenting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/mine/mine204']"><i class="fa fa-star-o"></i> Finished</a>
    </li>
    <!-- ./MY TRAYS -->

    <li class="divider"></li>    
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/main']"><i class="icon-pin"></i> Return Mainpage</a>
    </li>

    <li class="divider"></li>
    <li class="nav-title">
    </li>

  </app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb"  style="font-size: 0.85em;">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </ol>

    <div class="container-fluid"  style="font-size: 0.75em;">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->

  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>
