  <div class="layout-breadcrumb">
    <ul>
      <li><a routerlink="" href="#"><i class="material-icons">home</i></a></li>
      <li>/</li>
      <li class="">Components</li>
      <li class="">/</li>
      <li class=""><a href="#forms">Forms</a></li>
    </ul>    
    <div class="layout-breadcrumb-options">
      <a routerlink="/" title="Backup" href="#"><i class="material-icons">backup</i></a>
      <a routerlink="/" title="Bookmark" href="#"><i class="material-icons">bookmark</i></a>
      <a routerlink="/" title="Logout" href="#"><i class="material-icons">power_settings_new</i></a>
    </div>
  </div>
