<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Terminal</h1>
      <span>Terminal is a text based user interface. Enter "date" to display the current date.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <!--
          <p-terminal (handler)="onCommand($event)" [response]="response" welcomeMessage="Welcome to PrimeNG" prompt="GKSBS $"></p-terminal>
          -->
          <p-terminal welcomeMessage="Welcome to PrimeNG" prompt="primeng $"></p-terminal>
        </div>

      </div>
    </div>
  </div>
</div>
