<div class="content-section">
  <div class="content-section introduction">
    <div>
        <span class="feature-title">SELECT BUTTON</span>
        <span>SelectButton is used to choose single or multiple items from a list using buttons.</span>
    </div>
  </div>

  <div class="content-section implementation">

    <h3 class="first">Single</h3>
    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>

    <p>Selected Type: {{selectedType}}</p>

    <h3>Multiple</h3>
    <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
    <p>Selected Types: <span *ngFor="let type of selectedTypes">{{type}} </span></p>

    <hr />

    <button type="button" (click)="clear()" pButton icon="fa-close" label="Clear"></button>

  </div>
</div>
