<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>SELECT BUTTON</h1>
      <span>SelectButton is used to choose single or multiple items from a list using buttons.</span>
      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Single</h3>
          <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>

          <p>Selected Type: {{selectedType}}</p>
        </div>

        <div class="ui-g-12">
          <h3>Multiple</h3>
          <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
          <p>Selected Types: <span *ngFor="let type of selectedTypes">{{type}} </span></p>
        </div>

        <button type="button" (click)="clear()" pButton icon="fa-close" label="Clear"></button>

      </div>
    </div>
  </div>
</div>
