<div [formGroup]="addressItem">

  <p-panel [style]="{'margin-bottom':'15px'}">

    <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-panel-title">{{'address'|translate}} {{item + 1}}</span>
        <button *ngIf="formEditable" pButton type="button" style="float:right" icon="fa-remove" class="ui-button-danger" (click)="removeAddress()"></button>
      </div>
    </p-header>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-3">
          {{'type'|translate}} <small *ngIf="!addressItem.controls.type.valid && addressItem.controls.type.dirty" class="text-warning">{{'minChar'|translate}}(At least 3 characters)</small>
          <input pInputText type="text" placeholder="{{'type'|translate}}" name="type" formControlName="type"/>
      </div>
      <div class="ui-g-12 ui-md-12">
          {{'line'|translate}} 1 <small *ngIf="!addressItem.controls.line1.valid && addressItem.controls.line1.dirty" class="text-warning">{{'required'|translate}}(Required)</small>
          <input pInputText type="text" placeholder="{{'line'|translate}} 1" name="line1" formControlName="line1"/>
      </div>
      <div class="ui-g-12 ui-md-3">
          {{'line'|translate}} 2
          <input pInputText type="text" placeholder="{{'line'|translate}} 2" name="line2" formControlName="line2"/>
      </div>
      <div class="ui-g-12 ui-md-3">
          {{'line'|translate}} 3
          <input pInputText type="text" placeholder="{{'line'|translate}} 3" name="line3" formControlName="line3"/>
      </div>
      <div class="ui-g-12 ui-md-3">
          {{'line'|translate}} 4
          <input pInputText type="text" placeholder="{{'line'|translate}} 4" name="line4" formControlName="line4"/>
      </div>
      <div class="ui-g-12 ui-md-3">
          {{'line'|translate}} 5
          <input pInputText type="text" placeholder="{{'line'|translate}} 5" name="line5" formControlName="line5"/>
      </div>
    </div>

  </p-panel>

</div>
