<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>INPUT TEXTAREA</h1>
      <span>Inputtextarea add styling and autoResize functionality to standard textare element.</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <h3 class="first">Default</h3>
          <textarea rows="5" cols="30" pInputTextarea></textarea>
        </div>

        <div class="ui-g-12">
          <h3>AutoResize</h3>
          <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>

      </div>
    </div>
  </div>
</div>
