<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>SLIDE MENU</h1>
      <span>SlideMenu displays submenus with slide animation.</span>

      <div class="ui-g form-group">

        <div class="ui-g-4">
          <h3 class="first">Default</h3>
          <p-slideMenu [model]="items" appendTo="body"></p-slideMenu>
        </div>

        <div class="ui-g-4">
          <h3>Popup</h3>
          <p-slideMenu #menu [model]="items" [popup]="true" appendTo="body"></p-slideMenu>
          <button #btn type="button" pButton icon="fa fa-list" label="Show" (click)="menu.toggle($event)"></button>
        </div>

      </div>
    </div>
  </div>
</div>
