<app-header></app-header>
<div class="app-body">
  <app-sidebar>

    <li class="divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/main']"><i class="icon-pin"></i> {{'backToMain'|translate}}</a>
    </li>

    <!-- CLIENTS -->
    <li class="nav-title">
      {{'client'|translate}} {{'management'|translate}}
    </li>
    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-globe-alt"></i> {{'overview'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln00']"><i class="fa fa-circle-o text-info"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln01']"><i class="fa fa-circle-o text-info"></i> {{'masterList'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-doc"></i> {{'individual'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln10']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln11']"><i class="fa fa-circle-o text-warning"></i> {{'create'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln12']"><i class="fa fa-circle-o text-info"></i> {{'view'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln13']"><i class="fa fa-circle-o text-warning"></i> {{'edit'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln14']"><i class="fa fa-circle-o text-warning"></i> {{'disable'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln15']"><i class="fa fa-circle-o text-warning"></i> {{'enable'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln16']"><i class="fa fa-circle-o text-warning"></i> {{'mark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln17']"><i class="fa fa-circle-o text-warning"></i> {{'unmark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln18']"><i class="fa fa-circle-o text-danger"></i> {{'delete'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln19']"><i class="fa fa-circle-o text-info"></i> {{'viewChange'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-docs"></i> {{'collective'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln20']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln21']"><i class="fa fa-circle-o text-warning"></i> {{'upload'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln22']"><i class="fa fa-circle-o text-info"></i> {{'download'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln23']"><i class="fa fa-circle-o text-danger"></i> {{'upsert'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln24']"><i class="fa fa-circle-o text-warning"></i> {{'inactivate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln25']"><i class="fa fa-circle-o text-warning"></i> {{'activate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln26']"><i class="fa fa-circle-o text-warning"></i> {{'mark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln27']"><i class="fa fa-circle-o text-warning"></i> {{'unmark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln28']"><i class="fa fa-circle-o text-danger"></i> {{'clean'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln29']"><i class="fa fa-circle-o text-info"></i> {{'history'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-note"></i> {{'requests'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln30']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln31']"><i class="fa fa-address-card-o text-danger"></i> {{'new'|translate}} {{'client'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln32']"><i class="fa fa-address-card text-danger"></i> {{'update'|translate}} {{'client'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln33']"><i class="fa fa-file-text-o text-danger"></i> {{'debitNote'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln34']"><i class="fa fa-file-o text-danger"></i> {{'invoice'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln35']"><i class="fa fa-file-text text-danger"></i> {{'creditNote'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln36']"><i class="fa fa-file text-danger"></i> {{'receipt'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln37']"><i class="fa fa-hand-pointer-o text-danger"></i> {{'manualEntry'}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-basket-loaded"></i> {{'services'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln40']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln41']"><i class="fa fa-shopping-basket text-danger"></i> {{'solutions'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln42']"><i class="fa fa-user-circle-o text-danger"></i> {{'roles'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln43']"><i class="fa fa-magic text-danger"></i> {{'tcodes'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-pie-chart"></i> {{'dashboard'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln50']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln51']"><i class="fa fa-circle-o text-info"></i> {{'kpis'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-calculator"></i> {{'reports'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln60']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln61']"><i class="fa fa-circle-o text-info"></i> {{'summaryReports'|translate}}</a>
        </li>
      </ul>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln70']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln71']"><i class="fa fa-circle-o text-info"></i> {{'detailReports'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-refresh"></i> {{'properties'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln80']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln80']"><i class="fa fa-circle-o text-warning"></i> {{'dimensions'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-settings"></i> {{'administration'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln90']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln91']"><i class="fa fa-circle-o text-danger"></i> {{'configuration'|translate}}</a>
        </li>
      </ul>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gkcln/gkcln92']"><i class="fa fa-circle-o text-danger"></i> {{'approval'|translate}}</a>
        </li>
      </ul>
    </li>
    <!-- ./CLIENTS -->

    <!-- SOLUTIONS -->
    <li class="divider"></li>
    <li class="nav-title">
      {{'solution'|translate}} {{'management'|translate}}
    </li>
    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-globe-alt"></i> {{'overview'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol00']"><i class="fa fa-circle-o text-info"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol01']"><i class="fa fa-circle-o text-info"></i> {{'masterList'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-doc"></i> {{'individual'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol10']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol11']"><i class="fa fa-circle-o text-warning"></i> {{'create'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol12']"><i class="fa fa-circle-o text-info"></i> {{'view'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol13']"><i class="fa fa-circle-o text-warning"></i> {{'edit'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol14']"><i class="fa fa-circle-o text-warning"></i> {{'disable'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol15']"><i class="fa fa-circle-o text-warning"></i> {{'enable'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol16']"><i class="fa fa-circle-o text-warning"></i> {{'mark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol']"><i class="fa fa-circle-o text-warning"></i> {{'unmark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol18']"><i class="fa fa-circle-o text-danger"></i> {{'delete'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol19']"><i class="fa fa-circle-o text-info"></i> {{'viewChange'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-docs"></i> {{'collective'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol20']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol21']"><i class="fa fa-circle-o text-warning"></i> {{'upload'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol22']"><i class="fa fa-circle-o text-info"></i> {{'download'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol23']"><i class="fa fa-circle-o text-danger"></i> {{'upsert'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol24']"><i class="fa fa-circle-o text-warning"></i> {{'inactivate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol25']"><i class="fa fa-circle-o text-warning"></i> {{'activate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol26']"><i class="fa fa-circle-o text-warning"></i> {{'mark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol27']"><i class="fa fa-circle-o text-warning"></i> {{'unmark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol28']"><i class="fa fa-circle-o text-danger"></i> {{'clean'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol29']"><i class="fa fa-circle-o text-info"></i> {{'history'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-pie-chart"></i> {{'dashboard'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol50']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol51']"><i class="fa fa-circle-o text-info"></i> {{'kpis'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-calculator"></i> {{'reports'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol60']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol61']"><i class="fa fa-circle-o text-info"></i> {{'summaryReports'|translate}}</a>
        </li>
      </ul>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol70']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gksol/gksol71']"><i class="fa fa-circle-o text-info"></i> {{'detailReports'|translate}}</a>
        </li>
      </ul>
    </li>
    <!-- ./SOLUTIONS -->

    <!-- TCODES -->
    <li class="divider"></li>
    <li class="nav-title">
      {{'tcodes'|translate}} {{'management'|translate}}
    </li>
    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-globe-alt"></i> {{'overview'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd00']"><i class="fa fa-circle-o text-info"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd01']"><i class="fa fa-circle-o text-info"></i> {{'masterList'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-doc"></i> {{'individual'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd10']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd11']"><i class="fa fa-circle-o text-warning"></i> {{'create'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd12']"><i class="fa fa-circle-o text-info"></i> {{'view'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd13']"><i class="fa fa-circle-o text-warning"></i> {{'edit'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd14']"><i class="fa fa-circle-o text-warning"></i> {{'disable'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd15']"><i class="fa fa-circle-o text-warning"></i> {{'enable'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd16']"><i class="fa fa-circle-o text-warning"></i> {{'mark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd17']"><i class="fa fa-circle-o text-warning"></i> {{'unmark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd18']"><i class="fa fa-circle-o text-danger"></i> {{'delete'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd19']"><i class="fa fa-circle-o text-info"></i> {{'viewChange'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-docs"></i> {{'collective'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd20']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd21']"><i class="fa fa-circle-o text-warning"></i> {{'upload'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd22']"><i class="fa fa-circle-o text-info"></i> {{'download'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd23']"><i class="fa fa-circle-o text-danger"></i> {{'upsert'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd24']"><i class="fa fa-circle-o text-warning"></i> {{'inactivate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd25']"><i class="fa fa-circle-o text-warning"></i> {{'activate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd26']"><i class="fa fa-circle-o text-warning"></i> {{'mark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd27']"><i class="fa fa-circle-o text-warning"></i> {{'unmark'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd28']"><i class="fa fa-circle-o text-danger"></i> {{'clean'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd29']"><i class="fa fa-circle-o text-info"></i> {{'history'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-pie-chart"></i> {{'dashboard'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd50']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd51']"><i class="fa fa-circle-o text-info"></i> {{'kpis'|translate}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-calculator"></i> {{'reports'|translate}}</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd60']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd60']"><i class="fa fa-circle-o text-info"></i> {{'summaryReports'|translate}}</a>
        </li>
      </ul>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd70']"><i class="fa fa-circle-o text-warning"></i> {{'navBoard'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/gktcd/gktcd71']"><i class="fa fa-circle-o text-info"></i> {{'detailReports'|translate}}</a>
        </li>
      </ul>
    </li>
    <!-- ./TOCDES -->

    <!-- LABEL -->
    <li class="divider"></li>
    <li class="nav-title">
        Labels
    </li>
    <li class="nav-item hidden-cn">
      <a class="nav-label" href="#">
        <i class="fa fa-circle text-danger"></i> Label danger
      </a>
    </li>
    <li class="nav-item hidden-cn">
      <a class="nav-label" href="#">
        <i class="fa fa-circle text-info"></i> Label info
      </a>
    </li>
    <li class="nav-item hidden-cn">
      <a class="nav-label" href="#">
        <i class="fa fa-circle text-warning"></i> Label warning
      </a>
    </li>
    <!-- ./LABEL -->
    <li class="divider"></li>
    <li class="nav-title">
    </li>

  </app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <app-breadcrumbs></app-breadcrumbs>

    <div class="container-fluid"  style="font-size: 0.75em;">
      <router-outlet></router-outlet>
    </div>
    <br />
    <!-- /.conainer-fluid -->

  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>
