<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Code Highlighter</h1>
      <span>CodeHighlighter CodeHighlighter is an attribute directive to highlight code blocks using PrismJS</span>

      <div class="ui-g form-group">

        <div class="ui-g-12">
          <!--
          <pre>
          <code class="language-css" pCode ngNonBindable>
          .ui-datatable table &#123;
              border-collapse:collapse;
              width: 100%;
              table-layout: fixed;
          &#125;
          </code>
          </pre>
          -->
        </div>

      </div>
    </div>
  </div>
</div>
