<p-growl [value]="msg"></p-growl>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>TIERED MENU</h1>
      <span>TieredMenu displays submenus in nested overlays.</span>

      <div class="ui-g form-group">

        <div class="ui-g-4">
          <h3 class="first">Default</h3>
          <p-tieredMenu [model]="items" appendTo="body"></p-tieredMenu>
        </div>

        <div class="ui-g-4">
          <h3>Popup</h3>
          <p-tieredMenu #menu [model]="items" [popup]="true" appendTo="body"></p-tieredMenu>
          <button #btn type="button" pButton icon="fa fa-list" label="Show" (click)="menu.toggle($event)"></button>
        </div>

      </div>
    </div>
  </div>
</div>
