<p-growl *ngIf="alertType=='toast'" [value]="msgs"></p-growl>
<p-messages *ngIf="alertType=='alert'" [(value)]="msgs"></p-messages>

<div class="ui-g">  
  <div class="ui-g-12 ui-md-6">

    <p-panel header="{{'leadingForm'|translate}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <div class="ui-g ui-fluid">

        <div class="ui-g-12 ui-md-12">
            {{'filename'|translate}}
            <div class="ui-inputgroup">
                <input #inputText type="text" pInputText placeholder="{{'filename'|translate}}" name="filename">
                <span class="ui-inputgroup-addon">.csv</span>
            </div>

        </div>
      </div>
      <p-footer>
        <div style="text-align: right">
          <button pButton type="button" icon="icon-arrow-right-circle" label="{{'proceed'|translate}}" class="ui-button-success" (click)="execute()"></button>
        </div>
      </p-footer>
    </p-panel>

  </div>
</div>
