<div class="content-section">
  <div class="content-section introduction">
    <div>
        <span class="feature-title">ContextMenu</span>
        <span>ContextMenu displays an overlay menu on right click of its target. This page has two menus, one for the document and one for the image. Note that components like DataTable has special integration with ContextMenu. Refer to documentation of the individual documentation of the components having a special integration.</span>
    </div>
  </div>

  <div class="content-section implementation">

    <p-contextMenu [global]="true" [model]="items1"></p-contextMenu>

    <p-contextMenu [target]="img" [model]="items2" ></p-contextMenu>

    <img #img src="assets/showcase/images/demo/primeng-text.svg" alt="Logo">

  </div>
</div>
